.select-class-wrap {
  width: 1170px;
  height: 890px;
  padding: 15px;
  background: url('./../../assets/img/nianji_bg.png') 0 0 no-repeat;
  background-size: 100% 100%;
}
.logo-pic {
  display: flex;
  flex-direction: row;
  height: 190px;
  padding: 8px;

  align-items: center;
  justify-content: center;
  img {
    width: 530px;
    height: auto;
  }
}

.grade-wrap {
  margin-left: -11px;
}
.grade-item {
  display: flex;
  flex-direction: row;
  margin-top: 75px;

  align-items: flex-start;
  &:nth-child(1) {
    ul {
      li {
        width: 323px;
        margin-right: 12px;
        &:nth-child(3n) {
          margin-right: 0;
        }
      }
    }
  }
  &:nth-child(2) {
    ul {
      li {
        width: 143px;
        margin-right: 27px;
        &:nth-child(6n) {
          margin-right: 0;
        }
      }
    }
  }
  &:nth-child(3) {
    ul {
      li {
        width: 172.5px;
        margin-right: 32px;
        margin-bottom: 15px;
        &:nth-child(5n) {
          margin-right: 0;
        }
      }
    }
  }
  .item-name {
    font-family: STYuanti-SC-Bold;
    font-size: 22.5px;
    padding: 7px 22px;
    color: #3f4156;
    border-radius: 0 15px 15px 0;
    background-color: #65c4e7;
  }
  ul {
    display: flex;
    flex-direction: row;
    width: 1041px;
    margin-top: -8px;
    padding: 0 24px;

    flex-wrap: wrap;
    li {
      font-family: STYuanti-SC-Bold;
      font-size: 27px;
      padding: 8.5px 0;
      cursor: pointer;
      text-align: center;
      color: #b5bee5;
      border: 3px solid transparent;
      border-radius: 5px;
      background-color: rgba(255, 255, 255, .1);
    }
    .active {
      color: #fff;
      border-color: #fff;
    }
  }
}

.select-grade {
  margin-top: 7px;
  text-align: center;
  .grade-name {
    font-family: STYuanti-SC-Bold;
    font-size: 27px;
    margin-bottom: 20px;
    color: #fff;
  }
  button {
    font-family: STYuanti-SC-Bold;
    font-size: 30px;
    width: 560px;
    padding: 16px 0;
    text-align: center;
    color: #fff;
    border-radius: 20px;
    background-color: #7c8ed8;
    box-shadow: 0 12px 0 0 #6275c1;
  }
}
