.grade-wrap {
  width: 100%;
  height: 100%;
}

.grade-header {
  display: flex;
  flex-direction: row;
  padding-top: 97px;
  padding-left: 125px;

  align-items: center;
  justify-content: space-between;
  .logo-pic {
    display: flex;
    flex-direction: row;

    align-items: center;
    img {
      width: 528.5px;
      height: 68px;
    }
  }
  .grader-name {
    display: flex;
    flex-direction: row;
    margin-left: 61px;

    align-items: center;
    img {
      position: relative;
      z-index: 1;
      width: 85px;
      height: 63px;
    }
    span {
      font-family: MicrosoftYaHei-Bold;
      font-size: 26px;
      margin-left: -6px;
      padding: 13px 43px;
      color: #fff;
      border-radius: 0 40px 40px 0;
      background-color: rgba(255, 255, 255, .15);
    }
  }
  .weather-box {
    display: flex;
    flex-direction: row;
    padding: 3px 66px 5px 42.5px;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    background-color: rgba(255, 255, 255, .1);

    align-items: center;
    .time {
      font-family: MicrosoftYaHei-Bold;
      font-size: 45px;
      color: #fff;
    }
    .day {
      margin-left: 18.5px;
      p {
        font-family: MicrosoftYaHei;
        font-size: 17px;
        line-height: 1;
        color: #fff;
      }
    }
    .weather {
      margin-left: 20px;
      img {
        width: 71px;
        height: 55px;
      }
    }
  }
}

.gap-wrap {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 123px;
  margin-top: 17px;
  background: url('./../../assets/img/guangpu_bg.png') 0 0 no-repeat;
  background-size: 100% 100%;

  align-items: center;
  justify-content: center;
  ul {
    display: flex;
    overflow: hidden;
    flex-direction: row;
    width: 1820px;
    margin: 0 auto;
    white-space: nowrap;

    li {
      width: 60px;
      height: 60px;
      margin: 0 5px;
    }
  }
}

.grade-box {
  display: flex;
  flex-direction: row;
  margin-top: 31px;
  margin-left: 105px;

  align-items: flex-start;
}

.grade-left {
  .top {
    width: 550px;
    height: 419px;
    padding-top: 20px;
    background: url('./../../assets/img/rongyu_bg.png') 0 0 no-repeat;
    background-size: 100% 100%;
    .title {
      font-family: WenYue-XinQingNianTi-NC-W8;
      font-size: 30px;
      margin-left: 70px;
      text-align: center;
      color: #566dc3;
      text-shadow: 0 2px 0 #060b4e;
    }
  }
  .card {
    width: 550px;
    height: 217px;
    margin-top: 20px;
    padding-top: 35px;
    padding-left: 32px;
    border: 3px solid #566dc3;
    border-radius: 20px;
    background: url('./../../assets/img/shuka_bg.png') center center no-repeat;
    background-color: #060b4e;
    background-size: auto 80%;
    p {
      font-family: MicrosoftYaHei-Bold;
      font-size: 18px;
      line-height: 2;
      color: #b3bee9;
    }
  }
}

.grade-middle {
  margin-left: 33px;
  .top {
    width: 560px;
    height: 327px;
    margin-bottom: 25px;
    padding-top: 20px;
    background: url('./../../assets/img/jiangzhang_bg.png') 0 0 no-repeat;
    background-size: 100% 100%;
    .title {
      font-family: WenYue-XinQingNianTi-NC-W8;
      font-size: 30px;
      margin-left: 50px;
      text-align: center;
      color: #566dc3;
      text-shadow: 0 2px 0 #060b4e;
      span {
        color: #fe566f;
      }
    }
  }
  .bottom {
    width: 560px;
    height: 312px;
    background: url('./../../assets/img/dianshi_bg.png') 0 0 no-repeat;
    background-size: 100% 100%;
    .box {
      overflow: hidden;
      width: 410px;
      height: 290px;
      margin-left: 17.5px;
      padding-top: 20px;
      img {
        width: 100%;
        height: auto;
      }
    }
  }
}

.grade-right {
  width: 578.5px;
  height: 711px;
  margin-left: 33px;
  padding-top: 20px;
  background: url('./../../assets/img/pingjia_bg.png') 0 0 no-repeat;
  background-size: 100% 100%;
  .title {
    font-family: WenYue-XinQingNianTi-NC-W8;
    font-size: 30px;
    margin-left: 30px;
    text-align: center;
    color: #566dc3;
    text-shadow: 0 2px 0 #060b4e;
  }
}
